/* Animation */
.swim {
	-webkit-animation: swimming 90s 1, turn 1s 90s 1, swimmingback 90s 91s infinite;
	-moz-animation: swimming 90s 1, turn 1s 90s 1, swimmingback 90s 91s infinite;
	-o-animation: swimming 90s 1, turn 1s 90s 1, swimmingback 90s 91s infinite;
	-ms-animation: swimming 90s 1, turn 1s 90s 1, swimmingback 90s 91s infinite;
	animation: swimming 90s 1, turn 1s 90s 1, swimmingback 90s 91s infinite;

	/*-moz-animation-name: swimming;
	-moz-animation-duration: 10s;
	-moz-animation-play-state: running;
	-moz-animation-iteration-count: infinite;
	-o-animation-name: swimming;
	-o-animation-duration: 10s;
	-o-animation-play-state: running;
	-o-animation-iteration-count: infinite;
	-ms-animation-name: swimming;
	-ms-animation-duration: 10s;
	-ms-animation-play-state: running;
	-ms-animation-iteration-count: infinite;
	animation-name: swimming, turn, swimmingback;
	animation-duration: 10s;
	animation-play-state: running;
	animation-iteration-count: infinite;	*/
	/*display: block; position: fixed; left: 90%; top: 170px; z-index: -10; background-attachment: fixed;*/
	-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
			-o-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
					animation-timing-function: linear;
	-moz-animation-play-state: running;
		-o-animation-play-state: running;
			-ms-animation-play-state: running;
				-webkit-animation-play-state: running;
					animation-play-state: running;
	display: block; position: fixed; left: -5%; top: 170px; z-index: 0; background-attachment: fixed;
}

@-webkit-keyframes swimming {
	0% {display: block; position: fixed; left: -5%; top: 170px; z-index: -10; background-attachment: fixed;}
	100% {display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}					
}
@-webkit-keyframes turn {
	0% {-webkit-transform: scaleX(1); transform: scaleX(1); display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}
	100% {-webkit-transform: scaleX(-1); transform: scaleX(-1); display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}
}
@-webkit-keyframes swimmingback {
	0% {-webkit-transform: scaleX(-1); transform: scaleX(-1); display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}					
	100% {-webkit-transform: scaleX(-1); transform: scaleX(-1); display: block; position: fixed; left: -5%; top: 170px; z-index: -10; background-attachment: fixed;}
}
@keyframes swimming {
	0% {display: block; position: fixed; left: -5%; top: 170px; z-index: -10; background-attachment: fixed;}
	100% {display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}					
}
@keyframes turn {
	0% {-webkit-transform: scaleX(1); transform: scaleX(1); display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}
	100% {-webkit-transform: scaleX(-1); transform: scaleX(-1); display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}
}
@keyframes swimmingback {
	0% {-webkit-transform: scaleX(-1); transform: scaleX(-1); display: block; position: fixed; left: 105%; top: 170px; z-index: -10; background-attachment: fixed;}					
	100% {-webkit-transform: scaleX(-1); transform: scaleX(-1); display: block; position: fixed; left: -5%; top: 170px; z-index: -10; background-attachment: fixed;}
}

/* Others */

.balloon {
	height: 300px;
	width: 300px;
	border: 5px solid black;
	padding-bottom: -3px;
	margin-bottom: -3px;
	border-radius: 100% !important;
	background: rgba(255, 255, 255, 0.5);
	text-shadow: 1px 1px 5px grey;
	text-align: center;
}

/* Teaser Constraint*/

.w50h100 {width: 50px; height: 100px; }
.w50h200 {width: 50px; height: 200px;}
.w50h350 {width: 50px; height: 350px;}
.w100h200 {width: 100px; height: 200px;}
.w100h350 {width: 100px; height: 350px;}
.w150h50 {width: 150px; height: 50px;}
.w150h100 {width: 150px; height: 100px;}
.w150h150 {width: 150px; height: 150px;}
.w200h50 {width: 200px; height: 50px;}
.w300h50 {width: 300px; height: 50px;}
.w300h100 {width: 300px; height: 100px;}
.w600h50 {width: 600px; height: 50px;}
.w600h100 {width: 600px; height: 100px;}